.tituloproducto {
    color: white;
}

.tituloproducto+p {
    color: white;
}

.tituloproducto+p+p {
    color: white;
}

.productoCaja {
    background-color: #047ac2;

}

.tituloproducto~button {
    background-color: #8dba03;
    color: white;
    font-size: large;
}

