body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 5rem;
}

h2,
h3 {
    font-size: 4rem;
}

.tituloproducto {
    color: white;
}

.tituloproducto+p {
    color: white;
}

.tituloproducto+p+p {
    color: white;
}

.productoCaja {
    background-color: #047ac2;

}

.tituloproducto~button {
    background-color: #8dba03;
    color: white;
    font-size: large;
}

.carousel-inner img {
    height: 25rem;
    object-fit: cover;
}

@media (max-width: 768px) {
    .carousel-inner img {
        height: 55rem;    }
}

.img-hover {
    transition: transform 0.3s ease-in-out;
}

.img-hover:hover {
    transform: scale(1.2);
}